<%= simple_form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div class="errors-container">

      <ul>
        <% @person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<% end %>
<div class="row justify-content-center">
  <div class="col-4">

    <%= simple_form_for [@person] do |form| %>
      <%= form.input :first_name, placeholder: "First Name", label: false %>
      <%= form.input :second_name, placeholder: "Second Name", label: false %>
      <%= form.input :date_of_birth, placeholder: "Date of Birth", label: false %>
        <%= f.association :relationship,include_blank: :false %>
      <%= form.submit "save", class: "btn-solid btn-block" %>
      <%= link_to 'Back',people_path %>

      <% end %>

  </div>
</div>
  <!-- [...] a
