<p id="notice"><%= notice %></p>
      <h2>Person: <%= @relationship.person.name %></h2>
      <h3>Relationship type: <%= @relationship.relationship_type.name %></h3>
      <h3>Related person: <%= @relationship.related_person.name %></h3>
      <%= link_to 'Back', person_relationships_path (@person)%>
